<div class="page home">
    <div class="page-content infinite-scroll-content infinite-scroll-top ">
        <div class="cabec">
            <div class='redondo'>
                <img class="userImg" src="{{model.photo}}" alt="">
            </div>
            <div class="userName">
                <h4>
                    {{model.name}}
                </h4>
            </div>
        </div>

        <div class="menu">

            <div class="list">
                <ul>
                    <li class="home">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="card" data-toggle="modal" data-target="#ExemploModalCentralizado">
                                    <div class="card-content home">
                                        <!-- Card content -->
                                        <img src="images/meucarro.svg" alt="">
                                    </div>
                                    <div class="card-footer home">
                                        <p>
                                            Meu Carro
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="home">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="card">
                                    <div class="card-content home">
                                        <!-- Card content -->
                                        <img src="images/networking.svg" alt="">
                                    </div>
                                    <div class="card-footer home">
                                        <p>
                                            Grupos
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="home">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="card">
                                    <div class="card-content home">
                                        <!-- Card content -->
                                        <img src="images/rodizio.svg" alt="">
                                    </div>
                                    <div class="card-footer home">
                                        <p>
                                            Rodizio de Carro
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

        <!--- Acima disso content -->
        <div class="preloader infinite-scroll-preloader"></div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog"
    aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">            
            <div class="modal-body">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active list-group-item-success">
                        Informações sobre seu carro atual
                    </a>
                    <a href="#" class="list-group-item list-group-item-action ">Marca: {{model.vehicles.brand}}</a>
                    <a href="#" class="list-group-item list-group-item-action">Nome Veiculo: {{model.vehicles.name}}</a>
                    <a href="#" class="list-group-item list-group-item-action">Combustivel: {{model.vehicles.fuel}}</a>
                    <a href="#" class="list-group-item list-group-item-action">Kilometragem: {{model.vehicles.km}}</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Salvar mudanças</button>
            </div>
        </div>
    </div>
</div>